@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .standard-box {
    @apply
      bg-stone-300
      dark:bg-stone-900
      border-stone-100
      dark:border-stone-700
      text-stone-950
      dark:text-stone-50
  }

  .select-container {
    @apply
      flex
      items-center
      px-1
      border
      bg-stone-200
      border-stone-500
      dark:bg-stone-800
      dark:border-stone-700
  }

  .select {
    @apply
      mx-1
      text-pink-600
      bg-transparent
      font-semibold
      text-sm
      md:text-base
      max-w-64
      md:max-w-none
  }

  .side-menu {
    @apply
      flex
      items-center
      justify-between
      cursor-pointer
      text-base
      uppercase
      tracking-widest
      font-semibold
      border
      p-2 md:p-3
      shadow-sm
      text-stone-600
      border-stone-300
      bg-stone-200
      hover:border-stone-800
      dark:text-stone-400
      dark:border-stone-700
      dark:bg-stone-800
      dark:hover:border-stone-200
  }

  .side-menu-selected {
    @apply
      ring-2
      border-stone-600
      ring-stone-600
      text-stone-950
      bg-stone-100
      dark:ring-stone-200
      dark:border-stone-200
      dark:text-white
      dark:bg-stone-900
  }

  .main-panel {
    @apply
      bg-stone-300
      dark:bg-stone-900
      lg:col-span-5
      p-1
  }

  .week-badge {
    @apply
    bg-yellow-100
    text-yellow-800
    text-xs
    text-center
    font-medium
    me-2
    px-2.5
    py-0.5
    w-16
    dark:bg-yellow-900
    dark:text-yellow-300
  }

  .gamemode-badge {
    @apply
      text-sm
      font-bold
      px-2
      me-2
      w-10
      text-center
  }

  .br-badge {
    @apply
      bg-cyan-600
      text-cyan-200
      gamemode-badge
  }

  .nbr-badge {
    @apply
      bg-blue-800
      text-blue-300
      gamemode-badge
  }

  .text-cyan {
    @apply
      font-bold
      text-cyan-600
      dark:text-cyan-400
  }

  .text-amber {
    @apply
      font-bold
      text-amber-600
      dark:text-amber-500
  }

}